{% extends "socialaccount/base.html" %}
{% load i18n account %}

{% block content %}
    <div class="login-box">
        <div class="login-logo">
            <b>HORC Elections - 2022</b>
        </div>

        <div class="login-box-body" >
            <p class="login-box-msg">Continue using Institute Id </p>

            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-s-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat btn-lg" name="login">
                            <i class="fa fa-sign-in"></i> {% trans "Sign In" %}
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div id='markdown'></div>
    </div>
 
{% endblock content %}

{% block rules %}
   ## Rules
    - #### Each student can vote only once.
    - #### Login using your Institute e-mail ID only.
    - #### Each student can vote only to their respective hostels.
    - #### Timings of portal `8.00 am` - ` 6.00pm`
    - #### In case of any discrepancies kindly contact Harsh Jha(+91 70602 86069) and Abhishek Nair(+91 99457 13290)

{% endblock rules %}


